
.itemsArrow {
  display: flex;
  align-items: center;

}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.tableCell {
  @media (max-width: 600px) {
    padding: 10px 5px !important;
  }
}

.item {
  transition: all 0.3s ease;
  &:first-child {
    transform: rotate(180deg);
  }
}

.line {
  overflow: hidden;
  &:nth-child(1) {
    width: 35%;
  }

  &:nth-child(2) {
    width: 15%;
  }

  &:nth-child(3) {
    width: 15%;
  }

  &:nth-child(4) {
    width: 35%;
  }

  @media (max-width: 600px) {
    font-size: 14px !important;
    padding: 10px 5px !important;
  }

}

.title {
  @media (max-width: 600px) {
    font-size: 16px !important;
    padding: 10px 5px !important;
  }
}

.table {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

}


