.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1500px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 1000px
  }
  @media (max-width: 1000px) {
    width: 700px
  }
}

.container {
  padding-top: 50px;
  width: 100%;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;

}
.button{
  @media (max-width: 600px) {
    margin-top: 10px !important;
    font-size: 12px !important;
  }
  -webkit-animation: roll-in-blurred-right 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: roll-in-blurred-right 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}


formGroup
body{
  @media (max-width: 600px) {
    margin: 0 !important;
  }
}
